.dashboard{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.dashboard-content{
    flex: 1;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-image: url(../img/Renew/bg-dashboard.png);
}

.dashboard-content::-webkit-scrollbar {
  display: none;
}

.dashboard .img-line{
    padding-bottom: 30px;
}

.dashboard .img-line img{
    width: 100%;
    height: auto;
}



.dashboard-bot{
    padding: 15px;
    margin-top: 30px;
}

.dashboard-bot-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.dashboard-bot-header-name{
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-bot-header-name img{
    height: 40px;
    margin-right: 10px;
}

.dashboard-bot-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dashboard-bot-content .icon{
    margin-bottom: 10px;
}

.dashboard-bot-content span{
    font-size: 14px;
}

.dashboard-parameter{
    margin-top: 30px;
}

.dashboard-parameter-header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.dashboard-parameter-header-name{
    font-size: 22px;
    font-weight: 500;
}

.dashboard-parameter-infor{
    display: flex;
    align-items: center;
    padding: 15px;
}

.dashboard-parameter-infor-avt{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-parameter-infor-right{
    font-size: 17px;
    font-weight: 500;
}

.dashboard-parameter-infor-avt img{
    height: 100%;
    width: auto;
}

.dashboard-parameter-bar{
    padding: 15px;
    padding-top: 0;
    display: flex;
}
.dashboard-parameter-bar-name{
    font-weight: 700;
    margin-left: 10px;
}

.dashboard-parameter-bar-line{
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 400px;
}

.dashboard-member{
    padding: 15px;
}

.dashboard-member-item{
    display: flex;
    align-items: center;
}

.dashboard-member-item-icon{
    height: 43px;
    width: 43px;
}

.dashboard-member-item-icon img{
    height: 43px;
    width: 43px;
}

.dashboard-member-item-value{
    font-size: 12px;
    margin-left: 8px;
}

.dashboard-member-item-value-desc{
    min-height: 30px;
}

.dashboard-top-member{
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.dashboard-top-member-header{
    display: flex;
}

.dashboard-top-member-icon img{
    height: 30px;
    margin-right: 10px;
}

.dashboard-top-member-text{
    font-weight: 700;
}


.dashboard-top-member-content{
    margin: 20px;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}











